.login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 0; */
  height: calc(100vh - 110px);
  width: 100vw;

  /* right: 50%; */
  z-index: 999;
}

.login-frame {
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 14px;
}
.return {
  font-size: 16px;
  padding: 12px;
  margin-left: 8px;
  width: 50px;
}

.return:hover {
  cursor: pointer;
}
.user-name {
  color: black;
  font-size: 30px;
  text-align: center;
  /* margin-top: 30px; */
  padding-top: 30px;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form-button {
  width: 100%;
  /* background-color: red !important;
  border-color: red !important;
  border-radius: 5px !important; */
}

.input .ant-btn-primary {
  background-color: red;
  border-color: red;
  border-radius: 5px;
}
