.admin {
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 109px);
  overflow: auto;
}

.carousel {
  width: 40%;
  /* height: 30vh; */
  margin: 15px auto;
  border-radius: 10px;
  overflow: hidden;
}

.home-img img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.content-area {
  margin: 0 auto;
  width: calc(1100px);
  /* height: calc(400px); */
}

.ant-row {
  width: 100% !important;
}
.content-image img {
  border-radius: 8px;
  overflow: hidden;
}

.content-image div {
  color: #b1b1b1;
  overflow: hidden;
}

.home-loding {
  display: flex;
  width: calc(100% - 200px);
  height: calc(100% - 109px);
  justify-content: center;
  align-items: center;
}
